.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  border-bottom: 1px solid lightgray;
  padding: 16px 48px;
  background-color: white;
  z-index: 99999;
}

.company-name {
  font-weight: bolder;
  font-size: 20px;
}

.header-description {
  font-size: 18px;
  margin-left: 16px;
}

.school-name {
  font-weight: 600;
  font-size: 20px;
}
